@if (state().error) {
  <app-notification [type]="NotificationType.ERROR">
    {{ state().error?.message }}
  </app-notification>
}

@if (state().registered) {
  <app-notification [type]="NotificationType.SUCCESSFUL"> Done </app-notification>
}

<form
  class="form"
  [formGroup]="registrationForm"
  (submit)="register()"
>
  <fieldset class="fieldset">
    <div class="form__group">
      <label
        class="form__label"
        for="username"
        >Username</label
      >
      <input
        id="username"
        class="form__input"
        type="text"
        placeholder="Enter your username"
        formControlName="username"
        data-test="input-username"
        required
      />
    </div>
    <div class="form__group">
      <label
        class="form__label"
        for="password"
        >Password</label
      >
      <input
        id="password"
        class="form__input"
        type="password"
        placeholder="Specify the password"
        formControlName="password"
        data-test="input-password"
        required
      />
    </div>
    <div class="form__group">
      <label
        class="form__label"
        for="email"
        >Email</label
      >
      <input
        id="email"
        class="form__input"
        type="email"
        placeholder="Enter your email"
        formControlName="email"
        data-test="input-email"
        required
      />
    </div>
    <div class="form__group">
      <label
        class="form__label"
        for="fullname"
        >Full name</label
      >
      <input
        id="fullname"
        class="form__input"
        type="text"
        formControlName="fullname"
        data-test="input-fullname"
        placeholder="Provide your full name"
      />
    </div>
  </fieldset>
  <div class="form__manage">
    <button
      class="form__button"
      type="reset"
    >
      Cancel
    </button>
    <button
      class="form__button"
      type="submit"
      data-test="submit-button"
      [disabled]="!(isValid$ | async)"
    >
      Submit
    </button>
  </div>
</form>
