<h1 class="h1">Registration form</h1>

@if (state().error) {
  <app-notification
    [type]="NotificationType.ERROR"
    data-test="error-notification"
  >
    {{ state().error?.message ?? 'Something went wrong. Please try again later.' }}
  </app-notification>
}

@if (state().registered) {
  <app-notification
    [type]="NotificationType.SUCCESSFUL"
    data-test="success-notification"
  >
    {{ state().registered?.message }}
  </app-notification>
}

<form
  class="form"
  [formGroup]="registrationForm"
  (submit)="register()"
>
  <fieldset class="fieldset">
    <div class="form__group">
      @let hasLengthError = registrationForm.get('username')?.hasError('maxlength');

      <label
        class="form__label"
        [ngClass]="{ 'is-error': hasLengthError }"
        for="username"
        >Username</label
      >
      <input
        id="username"
        class="form__input"
        [ngClass]="{ 'is-error': hasLengthError }"
        type="text"
        placeholder="Enter your username"
        formControlName="username"
        data-test="input-username"
        required
      />
      @if (hasLengthError) {
        <p
          class="form__error"
          data-test="username-length-error"
        >
          The user name is too long. The maximum length is 140 symbols.
        </p>
      }
    </div>
    <div class="form__group">
      <label
        class="form__label"
        for="password"
        >Password</label
      >
      <input
        id="password"
        class="form__input"
        type="password"
        placeholder="Specify the password"
        formControlName="password"
        data-test="input-password"
        required
      />
    </div>
    <div class="form__group">
      @let hasFormatError = registrationForm.get('email')?.hasError('pattern');

      <label
        class="form__label"
        [ngClass]="{ 'is-error': hasFormatError }"
        for="email"
        >Email</label
      >
      <input
        id="email"
        class="form__input"
        [ngClass]="{ 'is-error': hasFormatError }"
        type="email"
        placeholder="Enter your email"
        formControlName="email"
        data-test="input-email"
        required
      />
      @if (hasFormatError) {
        <p
          class="form__error"
          data-test="email-format-error"
        >
          The email seems to be incorrect. Please verify.
        </p>
      }
    </div>
    <div class="form__group">
      <label
        class="form__label"
        for="fullname"
        >Full name</label
      >
      <input
        id="fullname"
        class="form__input"
        type="text"
        formControlName="fullname"
        data-test="input-fullname"
        placeholder="Provide your full name"
      />
    </div>
  </fieldset>
  <div class="form__manage">
    <button
      class="form__button"
      type="reset"
      data-test="reset-button"
      [disabled]="registrationForm.pristine"
    >
      Reset
    </button>
    <button
      class="form__button"
      type="submit"
      data-test="submit-button"
      [disabled]="!(isFormValid$ | async)"
    >
      Submit
    </button>
  </div>
</form>
